<h4>Home / Dashboard</h4>

<div class="row">
  <div class="col-md-12 text-center">
    <h4 class="my-5">UI Exibition</h4>
  </div>
</div>

<div class="row">
  <div class="offset-md-1 col-md-5">
      <app-login></app-login>
  </div>
  <div class="col-md-5">
      <app-register></app-register>
  </div>
</div>


<div class="row mt-4">
  <div class="col-md-12 text-center">
    <h4 class="my-5">Buttons Exibition</h4>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-md-12 text-center">
    
    <button type="button" class="btn mx-1 btn-primary">Primary</button>
    <button type="button" class="btn mx-1 btn-secondary">Secondary</button>
    <button type="button" class="btn mx-1 btn-success">Success</button>
    <button type="button" class="btn mx-1 btn-danger">Danger</button>
    <button type="button" class="btn mx-1 btn-warning">Warning</button>
    <button type="button" class="btn mx-1 btn-info">Info</button>
    <button type="button" class="btn mx-1 btn-light">Light</button>
    <button type="button" class="btn mx-1 btn-dark">Dark</button>
    <button type="button" class="btn mx-1 btn-link">Link</button>
  </div>
</div>