@import '_mixins.scss';

body, html {
    height: 100%;
}

.RegisterPage__container {
    position: relative;
    height: 100%;
    overflow: hidden;
    // background:linear-gradient(0deg,rgba(255,255,255,0.2),rgba(0,0,0,0.5)), url(/assets/images/bg_login.jpg) no-repeat cover;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    
    .RegisterPage__row {
        height: 100%;
        background:linear-gradient(0deg,rgba(255,255,255,0.2),rgba(0,0,0,0.5)), url(/assets/images/bg_login.jpg) no-repeat;        
        background-size: cover;

        .RegisterComponent__container {
            display: flex;
            align-items: center; 

            @include for-screen('mobile') {
                margin-left: 15px;
            }
            @include for-screen('tablet') {
                margin-left: 0;
                justify-content: center;
            }
        }
    }

    .RegisterPage {
        box-shadow: 0 0 20px -3px #FFF;
    }

}